@page "/products"
@inject HttpClient http

<div class="mb-5">
    <h1 class="display-7">Produtos</h1>
    <p class="lead">
        Esse Componente exemplifica a conexão com banco de dados
    </p>
</div>

@if (productList == null)
{
    <p class="lead">
        Carregando...
    </p>
}
else if (productList.Count == 0)
{
    <p class="text-body-secondary">
        Não há items para exibir
    </p>
    <button class="btn btn-secondary w-auto" @onclick="fetchItems">
        Recarregar Lista
    </button>
}
else
{
    <div class="row-2 col-10">

        <div class="row pb-1">
            <div class="col-9 rounded bg-dark text-white">
                <div class="row py-1">
                    <div class="col-4 fw-semibold text-center">Produto</div>
                    <div class="col-4 fw-semibold text-center">Descrição</div>
                    <div class="col-4 fw-semibold text-center">Valor</div>
                </div>
            </div>
            <div class="col-3 p-0">
                <div class="d-flex justify-content-end">
                    <button class="btn btn-primary w-100 ms-1" @onclick="addItem">
                        Novo
                    </button>
                </div>
            </div>
        </div>

        <div class="row">
            @foreach (var item in productList)
            {
                <EditForm Model="@item.Key" class="d-flex w-100 p-0 pb-1">
                    <DataAnnotationsValidator />

                    @if(item.Value == "readonly")
                    {
                        <input type="text" class="form-control bg-transparent w-25 me-1 @item.Value" @bind="item.Key.Name" disabled />
                        <ValidationMessage For="() => item.Key.Name" />
                        <input type="text" class="form-control bg-transparent w-25 mx-1 @item.Value" @bind="item.Key.Description" disabled />
                        <ValidationMessage For="() => item.Key.Description" />
                        <input type="number" class="form-control bg-transparent w-25 mx-1 @item.Value" @bind="item.Key.Price" disabled />
                        <ValidationMessage For="() => item.Key.Price" />

                        <div class="d-flex w-25">
                            <button class="btn btn-dark w-50 me-1" @onclick="() => editItem(item.Key)">
                                Editar
                            </button>
                            <button class="btn btn-danger w-50" @onclick="e => deleteItem(item.Key)">
                                Deletar
                            </button>
                        </div>
                    }
                    else
                    {
                        <input type="text" class="form-control bg-transparent w-25 me-1 @item.Value" @bind="item.Key.Name" />
                        <ValidationMessage For="() => item.Key.Name" />
                        <input type="text" class="form-control bg-transparent w-25 mx-1 @item.Value" @bind="item.Key.Description" />
                        <ValidationMessage For="() => item.Key.Description" />
                        <input type="number" class="form-control bg-transparent w-25 mx-1 @item.Value" @bind="item.Key.Price" />
                        <ValidationMessage For="() => item.Key.Price" />

                        <div class="d-flex w-25">
                            <button class="btn btn-success w-50 me-1" @onclick="() => editItem(item.Key)">
                                Salvar
                            </button>
                            <button class="btn btn-danger w-50" @onclick="e => deleteItem(item.Key)">
                                Deletar
                            </button>
                        </div>
                    }
                </EditForm>
            }
        </div>
    </div>
}

@code {
    Dictionary<Product, string> productList = new Dictionary<Product, string>();

    protected override async Task OnInitializedAsync()
    {
        await fetchItems();
    }

    async Task fetchItems()
    {
        try
        {
            Product[]? prods;
            prods = await http.GetFromJsonAsync<Product[]>("api/Products");
        }
        catch(Exception e)
        {
            Console.WriteLine(e.Message);
        }

        productList = new Dictionary<Product, string>()
        {

            { new Product("Televisão", "4K", 3500), "readonly" },
            { new Product("Computador", "i9 16GB SSD 1T", 5000), "readonly" },
            { new Product("Mesa", "Madeira", 2000), "readonly" },
            { new Product("Cadeira", "Estofado", 80), "readonly" }
        };
    }

    void addItem()
    {
        productList.Add(new Product("aaa", "bbb", new Random().Next()), "readonly");
    }

    void deleteItem(Product p)
    {
        productList.Remove(p);
    }

    void editItem(Product p)
    {
        if (productList[p] == "readonly")
        {
            productList[p] = "";
        }
        else
        {
            productList[p] = "readonly";
        }
    }
}
